      * {
        font-family: 'Overpass', sans-serif;
      }
      html,body,#root {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-image: url("/bg.png");
        background-position: center;
        background-size: cover ;
        background-repeat: no-repeat ;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }